* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  padding: 100px;
}

.grid {
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.square {
  width: 50px;
  height: 50px;
}

.snake-body {
  background-color: green;
}

.snake-head {
  background-color: red;
}

.apple {
  background-color: blue;
}

h1 {
  margin: 0.25em auto;
}

.score {
  margin-top: 1em;
}

h3 {
  font-weight: 600;
  margin-bottom: 1em;
}

.difficulty {
  padding: 0.5em;
}

.difficulty select {
  padding: 0.5em;
  font-size: 1.5rem;
}

.difficulty button {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  color: white;
  background-color: #0d6efd;
}

select {
  margin-right: 0.5em;
  margin-left: 0;
}
