* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 100px;
}

.grid {
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.square {
  width: 50px;
  height: 50px;
}

.snake-body {
  background-color: green;
}

.snake-head {
  background-color: red;
}

.apple {
  background-color: blue;
}
